.cardDonate {
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.25);
    background-color: white;
    border-radius: 25px;
    margin-top: 8rem;
    margin-bottom: 5rem;
    padding: 3rem;
}

.image {
    border-radius: 25px;
    width: 32rem;
    height: 20rem;
}

.donateTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-top: 1.3rem;
}

.donateBarTitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
}

.percentage {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}


.donateCardBar {
    width: 27rem;
    height: 1.3rem;
    margin-top: 0.5rem;
}