.containerNavbar {
    background-color: white;
    padding: 1%;
    position: fixed;
    width: 100%;
}

.navTitle {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    margin-left: 0.8rem;
}

.ar {
    color: #00D1FF;
}

.navItem {
    font-family: Montserrat;
    font-size: 17px;
    margin-top: 0.6rem;
    color: #000000;
    text-decoration: none;
}